node_modules
**/node_modules
.git
packages/data
apps/europeana-visual-service/.cache
*.db
*.db-*
*.db.gz
*.sqlite
*.sqlite-*
!apps/europeana-visual-service/data/europeana-demo.db
*.log
.env
.env.local
